@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: hsl(212, 45%, 89%);
}

.container {
  padding: 5em 1em;
}

.content {
  background: hsl(0, 0%, 100%);
  padding: 0.7em;
  border-radius: 0.8em;
  max-width: 250px;
  margin: 0 auto;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.img-qr-code img {
  display: flex;
  border-radius: 0.5em;
  width: 15em;
  margin: 0 auto;
}

.text {
  font-family: "Outfit";
}

h1 {
  font-size: 1.3em;
  text-align: center;
  color: hsl(218, 44%, 22%);
  margin-top: 0.8em;
}

p {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: hsl(220, 15%, 55%);
  margin-top: 0.8em;
}

@media only screen and (min-width: 768px) {
  .content {
    max-width: 250px;
  }
}
